*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color0: #ffffff;
    --color1: #cdfdcd;
    --color2: #9cfd9b;
    --color3: #51fb51;
    --color4: #02c71d;
    --color5: #007d0e;

    --solid-border: 0.1rem solid black;
    --dashed-border: 2px dashed black;
}

html {
    font-size: 62.5%;
    font-family: sans-serif;
}

#container {
    width: 80rem;
    /*background-color: var(--color2);*/
    margin: 10rem auto 0;
    height: 60rem;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
    border-radius: 1rem;
    text-align: center;
    padding-top: 2rem;
}
#container h1{
    font-size: 5rem;
    margin: 2rem 0 5rem;
}

button{
    padding: 1rem 2rem;
    font-size: 2rem;
    cursor: pointer;
    border-radius: 1rem;
    background-color: var(--color2);
}

#display_box{
    width: 100%;
    height: 60%;
}

.flex-center{
    display: flex;
    align-items: center;
    justify-content: center;
}

.flex-question{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    /*height: 10rem;*/
}

#question{
    font-size: 3rem;
}

.answers{
    display: flex;
    justify-content: space-evenly;
    width: 80%;
    font-size: 2rem;
    list-style: none;
}

.answer{
    cursor: pointer;
    border: var(--solid-border);
    padding: 1rem 2rem;
    background-color: var(--color2);
}

/* ------------------------------------------------------ */

.hide{
    display: none;
}

.disable{
    pointer-events: none;
    background-color: #ccc;
}

.selected{
    background-color: crimson;
}











