*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --background-color: #d8d8d8;

  --first-primary-color: #00d3cf;
  --second-primary-color: #018790;
  --third-primary-color: #005461;

  --text-color: #333333
}

html{
  font-family: Arial, Helvetica, sans-serif;
  color: var(--text-color);
  font-size: 62.5%;
}

body{
  background-color: var(--background-color);
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.btn{
  background-color: var(--first-primary-color);
  font-style: none;
  text-decoration: none;
  border: 5px solid var(--third-primary-color);
  padding: 1.5rem 3rem;
  font-size: 3rem;
  border-radius: 1.5rem;
  color: var(--text-color);
  margin-bottom: 7rem;
  cursor: pointer;
}

h1{
  margin-bottom: 3rem;
  font-size: 7rem;
}