*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --background-color: #d8d8d8;

  --first-primary-color: #00d3cf;
  --second-primary-color: #018790;
  --third-primary-color: #005461;

  --warning: #f9fb07;
  --success: #22bb33;
  --wrong: #bb2124;

  --text-color: #333333;
}

html {
  font-family: Arial, Helvetica, sans-serif;
  color: var(--text-color);
  font-size: 62.5%;
}

body {
  background-color: var(--background-color);
}

/* Mobile First design */

.container {
  margin: 5rem auto;
  width: 95%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(4, auto);
}
.header_wrapper {
  grid-column: span 2 / span 2;
  font-size: 3rem;
  text-align: center;
  margin-bottom: 3rem;
}
.question_wrapper {
  grid-column: span 2 / span 2;
  width: 100%;
  height: 15rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
}
.choices_wrapper {
  grid-column: span 2 / span 2;
  grid-row-start: 4;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  gap: 1rem;
}
.counter_wrapper,
.timer_wrapper {
  font-size: 2rem;
}

.choices_wrapper > div {
  display: flex;
  align-items: center;
  width: 100%;
  height: 5rem;
  border: 1px solid var(--second-primary-color);
  font-size: 3rem;
  overflow: hidden;
}

.progress_bar {
  border: 2px solid var(--second-primary-color);
  width: 16rem;
  height: 3rem;
  margin-top: 0.5rem;
}
.progress_bar-line {
  width: 20%;
  height: 100%;
  background-color: var(--second-primary-color);
  transition: all 1s ease-in-out;
}
.timer {
  font-size: 4rem;
  color: var(--second-primary-color);
}
.choice_prefix {
  background-color: var(--first-primary-color);
  padding: 0.7rem 1.5rem;
}
.choice_text {
  width: 100%;
  height: 100%;
  text-align: center;
  padding: 0.5rem 0;
}

.choices_wrapper > div:hover {
  cursor: pointer;
  box-shadow: 0 0.4rem 1.4rem 0 var(--second-primary-color);
  transform: translateY(-0.1rem);
  transition: transform 150ms;
}

/* Component Classes */
.flex_center {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
}

@media screen and (min-width: 640px) {
}
