*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "vazir font";
  src: url("../font/Vazir-Light.eot") format("opentype");
  src: url("../font/Vazir-Light.ttf") format("opentype");
  src: url("../font/Vazir-Light.woff") format("opentype");
  src: url("../font/Vazir-Light.woff2") format("opentype");
}

:root {
  --background-color: #d8d8d8;

  --first-primary-color: #00d3cf;
  --second-primary-color: #018790;
  --third-primary-color: #005461;

  --warning: #f9fb07;
  --success: #22bb33;
  --wrong: #bb2124;

  --text-color: #333333;

  --font-xLarge: 4rem;
  --font-large: 3rem;
  --font-medium: 2rem;
  --font-small: 1.5rem;

  --spacing-xs: 0.5rem;
  --spacing-sm: 1rem;
  --spacing-md: 1.5rem;
  --spacing-lg: 3rem;
  --spacing-xl: 5rem;

}

html {
  font-family: 'vazir';
  color: var(--text-color);
  font-size: 62.5%;
}

body {
  background-color: var(--background-color);
}

/* Mobile First design */

.container {
  margin: 5rem auto;
  width: 95%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
}
.header_wrapper {
  grid-column: span 2 / span 2;
  font-size: var(--font-large);
  text-align: center;
  margin-bottom: 3rem;
}
.question_wrapper {
  grid-column: span 2 / span 2;
  width: 100%;
  height: 15rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: var(--font-small);
}
.choices_wrapper {
  grid-column: span 2 / span 2;
  grid-row-start: 4;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
.counter_wrapper,
.timer_wrapper {
  font-size: var(--font-medium);
}

.choices_wrapper > div {
  display: flex;
  align-items: center;
  width: 100%;
  height: 5rem;
  border: 1px solid var(--second-primary-color);
  font-size: var(--font-large);
  overflow: hidden;
}

.progress_bar {
  border: 2px solid var(--second-primary-color);
  width: 16rem;
  height: 3rem;
  margin-top: var(--spacing-xs);
}
.progress_bar-line {
  width: 20%;
  height: 100%;
  background-color: var(--second-primary-color);
  transition: all 1s ease-in-out;
}
.timer {
  font-size: var(--font-xLarge);
  color: var(--second-primary-color);
}
.choice_prefix {
  background-color: var(--first-primary-color);
  padding: 0.7rem 1.5rem;
}
.choice_text {
  width: 100%;
  height: 100%;
  text-align: center;
}

.choices_wrapper > div:hover {
  cursor: pointer;
  box-shadow: 0 0.4rem 1.4rem 0 var(--second-primary-color);
  transform: translateY(-0.1rem);
  transition: transform 150ms;
}

.correct{
  box-shadow: 0 0.4rem 1.4rem 0 var(--second-primary-color);
  transform: translateY(-0.1rem);
  transition: transform 150ms;
  background-color: var(--success);
}

.wrong{
  box-shadow: 0 0.4rem 1.4rem 0 var(--second-primary-color);
  transform: translateY(-0.1rem);
  transition: transform 150ms;
  background-color: var(--wrong);
}

/* Component Classes */
.flex_center {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
}

@media screen and (min-width: 640px) {
}
